<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <span>hello</span>
    <script>
        // fetch('http://127.0.0.1:8080/graphql', {
        //     method: 'POST',
        //     headers: {
        //         'Content-Type': 'application/json',
        //         'Accept': 'application/json',
        //     },
        //     body: JSON.stringify({ query: "" })
        // })
        //     .then(r => r.json())
        //     .then(data => alert(JSON.stringify(data)));
    </script>
</body>

</html>